<div class="col-lg-6 col-lg-offset-3 well">
<h3>Way to go: <%= @name %>!</h3>

<p>Here are your latest games: </p>

<% @user_rounds.each do |round| %>

  <% true_guesses = Attempt.where(outcome: true).find_all_by_round_id(round).count %>
  <% total_guesses = Attempt.find_all_by_round_id(round).count %>
  <% unless total_guesses == 0 %>
    <%= current_user.first_name %> got <%= true_guesses %> right out of <%= total_guesses %> for <%= (100 * (true_guesses.to_f/total_guesses)).round %>% 
    using the <%= Deck.where(id: (Round.where(id: round).pluck(:deck_id))).pluck(:name).join('') %> deck.
.  <br>
  <% end %> 

<% end %>
</div>
